.grid{
	width: 100%;
	border: 1px solid black;
	height: 500px;
	position: relative;
}

.grid-page{
	clear: both;
}
.grid-header,
.grid-row{
	display: flex;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid black;
}

.grid-header .grid-cell.clickable{
	cursor: pointer;
}

.grid-cell{
	display: inline-block;
	flex: 1;
}

.grid-header-container{
	height: 30px;
}

.grid-rows-container{
	overflow: auto;
	height: 470px;
}

.grid-mask-panel{
	display: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
	color: white;
	opacity: 0.75;
	text-align: center;
	font-size: 20px;
}


.grid-mask-panel.visible{
	display: flex;
	align-items: center; 
	justify-content: center;
}

.grid-load-more-button{
	height: 20px;
	border-top: 1px solid black;
	padding:5px;
	text-align: center;
	cursor: pointer;
}